<h1>Login</h1>
<% if @error %>
	<div id="mensajes"> <%= @error %>	 </div> 
<% end %>
<%= form_tag '/login' do %>
	<%= label_tag :correo %><br>
	<%= text_field_tag :correo %><br>

	<%= label_tag :password %><br>
	<%= password_field_tag :password %><br>
	<br>

	<%= submit_tag "Log in"  %>

<% end %>