<%= form_for @empleado do |f| -%>
	<p>
			<%= f.label :nombre %><br>
			<%= f.text_field :nombre %>
		</p>

		<p>
			<%= f.label :rfc %><br>
			<%= f.text_field :rfc, :disabled => true %>
		</p>

		<p>
			<%= f.label :puesto %><br>
			<%= f.text_field :puesto %>
		</p>

		<p>
			<%= collection_select(:empleado, :sucursal_id, @lista_sucursales, :id, :nombre) %>
		</p>

		<p>
			<%= f.submit "Actualizar", class: 'btn btn-info', :id => "editar-empleado" %>
		</p>
<% end %>