<h1>Actualizar Sucursal</h1>
<%= form_for @sucursal do |f| %>
	<p>
		<%= f.label :nombre %><br>
		<%= f.text_field :nombre %>
	</p>

	<p>
		<%= f.label :calle %><br>
		<%= f.text_field :calle %>
	</p>

	<p>
		<%= f.label :colonia %><br>
		<%= f.text_field :colonia %>
	</p>

	<p>
		<%= f.label :numero_ext %><br>
		<%= f.text_field :numero_ext %>
	</p>

	<p>
		<%= f.label :numero_int %><br>
		<%= f.text_field :numero_int %>
	</p>

	<p>
		<%= f.label :codigo_postal %><br>
		<%= f.text_field :codigo_postal %>
	</p>

	<p>
		<%= f.label :ciudad %><br>
		<%= f.text_field :ciudad %>
	</p>

	<p>
		<%= f.label :pais %><br>
		<%= f.text_field :pais %>
	</p>

	<br>
	<br>
		<p>
			<%= f.submit "Actualizar", class: 'btn btn-info', :id => "editar-sucursal" %>
		</p>
<% end %>

<% if @lista_empleados.present? %>
	<h1>Empleados de sucursal <%= @sucursal.nombre %></h1>	
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>RFC</th>
				<th>Puesto</th>
				<th colspan="2">Editar</th>
			</tr>
			<% @lista_empleados.each do |empleado| %>
				<tr>
					<td><%= empleado.nombre %></td>
					<td><%= empleado.rfc %></td>
					<td><%= empleado.puesto %></td>
					<td><%= link_to "Actualizar información", edit_empleado_path(empleado) %></td>
					<td> <%= link_to "Borrar Empleado", empleado_path(empleado), method: :delete %></td>
				</tr>
			<% end %>
		</thead>
	</table>
<% else %>
	
<% end %>

