<h1>Registro de Sucursal</h1>
<%= form_for @sucursal do |f| %>
	<p>
		<%= f.label :nombre %><br>
		<%= f.text_field :nombre %>
	</p>

	<p>
		<%= f.label :calle %><br>
		<%= f.text_field :calle %>
	</p>

	<p>
		<%= f.label :colonia %><br>
		<%= f.text_field :colonia %>
	</p>

	<p>
		<%= f.label :numero_ext %><br>
		<%= f.text_field :numero_ext %>
	</p>

	<p>
		<%= f.label :numero_int %><br>
		<%= f.text_field :numero_int %>
	</p>

	<p>
		<%= f.label :codigo_postal %><br>
		<%= f.text_field :codigo_postal %>
	</p>

	<p>
		<%= f.label :ciudad %><br>
		<%= f.text_field :ciudad %>
	</p>

	<p>
		<%= f.label :pais %><br>
		<%= f.text_field :pais %>
	</p>

	<%= f.nested_fields_for :empleados do |ff| %>
		<%= ff.remove_nested_fields_link 'Quitar empleado', class: 'btn btn-danger' %>
		<p>
			<%= ff.label :nombre %><br>
			<%= ff.text_field :nombre, class: "input-empleados-nombre" %>
		</p>

		<p>
			<%= ff.label :rfc %><br>
			<%= ff.text_field :rfc, class: "input-empleados-rfc" %>
		</p>

		<p>
			<%= ff.label :puesto %><br>
			<%= ff.text_field :puesto %>
		</p>
	<% end %>
	<%= f.add_nested_fields_link :empleados, 'Agregar empleado', class: 'btn btn-primary', id: 'add-empleado' %>
	<br>
	<br>
		<p>
			<%= f.submit "Registrar", class: 'btn btn-info', :id => "registrar" %>
		</p>
<% end %>