<h1>Registro de Empresa</h1>
<%= form_for @empresa do |f| %>
	<p>
		<%= f.label :nombre_persona %><br>
		<%= f.text_field :nombre_persona %>
	</p>

	<p>
		<%= f.label :correo %><br>
		<%= f.text_field :correo %>
	</p>

	<p>
		<%= f.label :rfc %><br>
		<%= f.text_field :rfc %>
	</p>

	<p>
		<%= f.label :nombre_empresa %><br>
		<%= f.text_field :nombre_empresa %>
	</p>

	<p>
		<%= f.label :password %><br>
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.label :password_confirmation %><br>
		<%= f.password_field :password_confirmation %>
	</p>

		<p>
			<%= f.submit "Registrar", :id => "registrar" %>
		</p>
<% end %>