<% if @lista_sucursales.blank? %>
	<h1>No hay sucursales registradas para esta empresa</h1>
	<%= link_to "Registrar Sucursal", new_sucursal_path %>
<% else %>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Cantidad Empleados</th>
					<th colspan="2">Editar</th>
				</tr>
			</thead>
			<tbody>
				<% @lista_sucursales.each do |sucursal| %>
					<tr>
						<td> <%= sucursal.nombre %> </td>
						<td> <% empleados = sucursal.listar_empleados %>
								<%= empleados.count %>
						</td>
						<td><%= link_to "Actualizar información", edit_sucursal_path(sucursal) %></td>
						<td> <%= link_to "Borrar", sucursal_path(sucursal), method: :delete %></td>
					</tr>
				<% end %>		
			</tbody>
		</table>
		
<% end %>