<!DOCTYPE html>
<html>
<head>
  <title>Prueba Empresas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse" style="position: relative;">
      <% if current_empresa %>
            <%= link_to "#{current_empresa.nombre_empresa}", root_path, class: "navbar-brand"%>   
      <% else %>
        <%= link_to "Sistema de empresas", root_path, class: "navbar-brand"%> 
      <% end %>
      <div class="container">        
        <nav>          
          <ul class="nav navbar-nav navbar-right">
            <% if current_empresa %>
            	<li><%= link_to "Registrar Sucursal",   new_sucursal_path %></li>
            	<li><%= link_to "Registrar Empleados", new_empleado_path %></li>
            	<li><%= link_to "Logout", '/logout' %></li>
            <% else %>
            	<li><%= link_to "Login",   login_path %></li>
            	<li><%= link_to "Registro", new_empresa_path %></li>
            <% end %>
            
          </ul>
        </nav>
      </div>
    </header>
<div id="mensajes"></div>
<%= yield %>
<%= insert_paloma_hook %>
<script type="text/javascript">
  $(document).ready(function(){
      Paloma.start();
  });
</script>
</body>
</html>
